div.lgnprf h3.signedusername{ font-size: 16px; }
div.lgnprf ul li{background-color: #ededed; }
.lgnprf ul li{float: right; padding: 17px 0 !important; width: 50%;}
.pointer-cursor{cursor:pointer;}
.update .pop { width: 500px; }
.list-inline.clearfix > li {    border-radius: 6px; height: 31px; }
.boxbodysec > p { margin-top: -15px; }
label.error{color:red;}
#docUploadForm .error { padding-left: 15px;}
.radio_error {clear: both; display: block; margin-left: 15px; }
.error{color:red;}
.error .popover-content{color:red;}

.blue_bca{
	color:#428bca;
}

.btn.btn-blue.grey { background-color: #7799bd; }

.loading_ajax {
    background: rgba(148, 148, 148, 0.8); 
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.loading_ajax img{display: block;
    margin: 0 auto;}
    
    
.loading_ajax_div {
    display: block;
    height: 50%;
}
