<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration  debug="false"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %C{1}:%L - %m%n" />
		</layout>
	</appender>
	<appender name="asyncServiceFileAppender" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="file" />
	</appender>
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
<!--  <param name="File" value="C:\\Users\\738796\\Desktop\\Kalpana_logs.txt" /> --> 
	
 	  <param name="File" value="/wls/oracle_12c/middleware/oracle_home/user_projects/domains/logs/webReports.log" />  
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %C{1}:%L - %m%n" />
		</layout>
	</appender>
	<logger name="webReportsLogger" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="file"/>
	</logger>

	<root>
		<level value="INFO"></level>
		<appender-ref ref="stdout" />
		<appender-ref ref="asyncServiceFileAppender" />
<!-- 		<appender-ref ref="asyncBancsLog"/> -->
	</root>
</log4j:configuration> 